.cus-dark-bg{
    background-color: #292624;
}

.cus-progressbar{
    background-color: #aa7d3b !important;
    color: #ffffff;
}

.cus-icon-color{
    color:#aa7d3b;
}

.cus-dark-btn{
    background-color: #574b41 !important;
    color: #ffffff  !important;
}

.text-cus-brown{
    color: #aa7d3b !important;
}

.bg-cus-brown{
    background-color: #aa7d3b !important;
    color: #ffffff !important;
}