.cus-dark-bg{
    background-color: #292624;
}

.cus-progressbar{
    background-color: #dab231 !important;
    color: #ffffff;
}

.cus-dark-btn{
    background-color: #574b41;
    color: #ffffff;
}

.text-cus-brown{
    color: #664d39 !important;
}